# Rubber auxiliary files.
/src/*.aux
/src/*.bbl
/src/*.blg
/src/*-blx.bib
/src/*.brf
/src/*.dvi
/src/*.fdb_latexmk
/src/*.glo
/src/*.lof
/src/*.log
/src/*.lot
/src/*.out
/src/*.run.xml
/src/*.synctex.gz
/src/*.toc
/src/*.xdy

# Rubber output files.
/src/*.pdf
/src/*.ps

# Sublime Text
/.sublime-project.sublime-workspace
